@charset "UTF-8";

.rep {
	
	height : auto;
	background: #ffe8f3;
	border: 1px solid #fdffea;
	margin-top: 2px;
	
}

 body {
	background-image: url(../images/jang1.jpg);
	background-repeat : repeat;
 }