@charset "UTF-8";

.box {
	background : #F2D8DF;
	border-top : 3px solid #071D49;
	border-bottom : 3px solid #071D49;
	margin : 20px;
	padding : 10px;
	font-size : 1.1em;
}

.box button {
	color : white; 
	font-weight : bold; 
	background : #69B3E7;
	padding : 5px 20px;
	border-radius : 50px;
}

.box div{
	border : 2px dashed orange;
	margin-right : 10px;
	margin-top : 20px;
	padding : 10px;
	height : auto;
}

pre {
	background : #F2D8DF;
	border-top : 3px solid #071D49;
	border-bottom : 3px solid #071D49;
	margin : 20px;
	padding : 10px;
}